---
---

@import "colors.scss";
@import "variables.scss";

$sidebarNavActiveBgColor: rgba($secondary, 0.1);

sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  height: calc(100vh - #{$navbarHeight});
  padding-top: 40px;
  border-right: 1px solid $borderColor;
  background-color: $sidebarNavBgColor;
  overflow-y: auto;
}

main {
  width: 100%;
  padding-left: 300px;
}

.main-content {
  padding-top: 40px;
  padding-left: 5em;
  padding-right: 5em;
}