---
---
@import "colors";
@import "variables.scss";
@import "main.scss";

/**
 * Navbar
 */
 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbarHeight;
  padding: 0 16px;
  box-shadow: 0 2px 8px -1px rgb(234, 234, 234);
  background-color: $navbarBgColor;
  z-index: 10;

  .navbar-right {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .navbar-right__search {
    display: flex;
    align-items: center;

    > button {
      cursor: pointer;
      border: 0;
      background-color: transparent;
    }
  }

  .navbar-right__list {
    display: inline-flex;

    a {
      display: flex;
      align-items: center;
      padding: 0 16px;
      margin: 0 4px;
    }
  }
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/**
 * Sidebar nav
 */

.lh-menu {
  li > a,
  .lh-menu-submenu-title, {
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding-left: 30px;
    color: rgba(0, 0, 0, .80);
  }

  .lh-menu-item > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .lh-menu-item[disabled] > a {
    .coming-badge {
      font-size: 12px;
      color: rgba($secondary, .45);
      margin-left: -5px;
      top: -10px;
      position: relative;
    }

    pointer-events: none;
    cursor: default;
    color: rgba(0, 0, 0, .40);
  }

  .lh-menu-item-active > a {
    font-weight: 400;
    color: $secondary;
    background-color: rgba($secondary, .05);
  }

  .lh-menu-submenu-title {
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.lh-menu-item-group-title {
  font-size: 16px;
  padding: 8px 0 8px 50px;
  color: rgba(0, 0, 0, .45);
}

.lh-menu-item-group-list {
  > .lh-menu-item > a {
    display: block;
    padding: 8px 0 8px 70px;
  }
}

.lh-menu-submenu-sub > .lh-menu-item > a {
  padding-left: 50px;
}

/**
 * Language dropdown
 */
.lang-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 4px;

  .lang-dropdown__button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }

  &:hover {
    .lang-dropdown__menu {
      visibility: visible;
      opacity: 1;
    }
  }

  .lang-dropdown__menu {
    position: absolute;
    width: 150px;
    top: 85%;
    right: 0;
    padding: 4px 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .15s ease-in-out;
    
    > a {
      display: flex;
      color: $primary;
      margin: 0;
      padding: 8px 16px;
      transition: all .15s ease-in-out;

      &.active {
        color: $secondary;
      }

      &:hover {
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
}

/**
 * Footer
 */
footer {
  height: $footerHeight;
  background-color: $footerBgColor;
}

/**
 * Markdown
 */
.markdown {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 1em;
  }

  h2 {
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  a {
    color: $secondary;
  }

  p {
    margin-bottom: 1em;
    font-size: 17px;
    font-weight: 400;
    color: rgba($primary, 0.8);
  }

  ul {
    margin-left: 40px;
    margin-bottom: 20px;

    > li {
      font-size: 17px;
      color: rgba($primary, 0.8);

      a {
        color: $secondary;
      }
    }
  }

  pre {
    padding: 16px;
    border-radius: 2px;
    background-color: $codeBgColor;
  }

  code {
    font-family: 'Consolas', sans-serif;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: $codeBgColor;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-family: 'Source Sans Pro', sans-serif;
    color: $primary;
    text-shadow: none;
    line-height: 24px;
    margin-bottom: 1em;
  }

  code.language-shellsession {
    display: block;
    color: rgba($primary, 0.7);

    .dollar-sign {
      color: rgba($primary, 0.7) !important;
    }

    &::first-line {
      color: $primary;
    }
  }

  pre[class*="language-"] {
    background-color: $codeBgColor;
    border-radius: 2px;
  }

  blockquote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 1px solid #e3e3e3;

    > p {
      font-weight: 300;
      margin-bottom: 0;
      color: lighten($primary, 40%);
    }
  }

  table {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;

    > thead > tr > th,
    > tbody > tr > td {
      > strong {
        font-weight: 600;
      }

      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    > thead > tr > th {
      font-weight: 600;
      background-color: rgba(27,31,35,0.05);
    }

    > tbody > tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
    
    > tbody > tr > td {
      text-align: left !important;
    }
  }
}