$primary: #243447;
$secondary: #45aaf2;
$backgroundColor: #fff;
$navbarBgColor: #fff;
$footerBgColor: $primary;
$sidebarNavBgColor: rgba(0, 43, 64, 0.03);
$borderColor: #ececec;
$codeBgColor: #f9f9f9;
