$primary: #243447;
$secondary: #45aaf2;
$backgroundColor: #fff;
$navbarBgColor: #fff;
$footerBgColor: $primary;
$sidebarNavBgColor: #fff;
$borderColor: #ececec;
$codeBgColor: rgba(darken(#fff, 60), 0.08);
