*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  background-color: transparent;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary;
  padding-top: $navbarHeight;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $primary;
}

.container-fluid {
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 0;
}
